.accordionBlock {
    margin-bottom: 10px;
    color: #ffffff;
}

.buttonBlockOpenClose {
width: 100%;
color: rgb(241, 156, 46);
text-align: left;
display: block; /* Чтобы text-align работал */
}

.buttonBlockOpenClose.open {
background-color: #1a1a1a; /* Цвет при открытом состоянии */
}

.contentAccordionBlock {
color: rgb(46, 124, 241);
padding: 20px;
}