.accordionBlock {
    margin: 10px;
    border: 1px solid #444;
    background-color: #2a2a2a;
  }
  
  .buttonBlockOpenClose {
    width: 100%;
    padding: 10px;
    background-color: #333; /* Базовый цвет */
    border: none;
    color: white;
    text-align: left;
    display: block; /* Чтобы text-align работал */
  }
  
  .buttonBlockOpenClose.open {
    background-color: #1a1a1a; /* Цвет при открытом состоянии */
  }
  
  .content {
    padding: 10px;
    border-top: 1px solid #444;
  }